:root {
  --fullWidth: 270px;
  --fullWidthFriends: 285px;

  --none: 0;

  --xsPadd: 15px;
  --mdPadd: 25px;
  --lgPadd: 40px;
  --xlPadd: 50px;

  --primaryColor: #1ed760;

  --xsFontSize: 13px;
  --smFontSize: 14px;
  --FonstSize: 16px;
  --mdFontSize: 18px;
  --lgFontSize: 20px;
  --xlFontSize: 24px;

  --bold: bold;

  --xsImg: 50px;
  --smallImg: 80px;
  --bigImg: 220px;
  --playbar-start: 0s;
  --playbar-time: 1s;
}

.left-column-rules {
  width: 25vw;
}

.album-detail-rules {
  height: 100%;
}

.right-column-rules {
  width: 10vw;
}

.icon-rules {
  display: inline-block;
  width: 30px;
}

.grey {
  color: #b2b2b2;
}

.bg-black-semi {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-gradient-custom {
  background: linear-gradient(#e6c752, #121212);
}

.custom-shadow {
  box-shadow: 0 0 10em;
  color: #181818;
}

.soundbar-rules {
  background-color: #181818;
  width: 100vw;
}

.track-title-rules {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 15px;
}

.track-artist-rules {
  line-height: 20px;
}

.progress-bar-base {
  width: 300%;
  height: 5px;
  background-color: lightslategray;
  bottom: 20px;
  left: -100%;
}

@keyframes progress-bar-filling {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progress-bar-fill {
  width: 0%;
  height: 5px;
  background-color: white;
  animation: progress-bar-filling var(--playbar-time) linear;
}

.currenttime-position {
  left: -120%;
}

.fulltime-position {
  right: -120%;
}

.green-button {
  color: darkgreen;
}

.slider {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: lightslategray;
}

.slider::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
  color: white;
}

.slider::-webkit-slider-thumb {
  width: 5px;
  -webkit-appearance: none;
  height: 5px;
  cursor: pointer;
  background: white;
  box-shadow: -80px 0 0 80px white;
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
  #album-title {
    font-size: 25px;
    padding-top: 1em;
  }
  .bg-black-semi {
    background-color: transparent;
  }
}
