:root {
  /* --fullWidthAside: 250px; */
  --fullWidthHeader: 250px;
  --fullWidthFriends: 15%;

  --xsPadd: 10px;
  --mdPadd: 20px;
  --lgPadd: 50px;

  --primaryColor: #1ed760;

  --xsFontSize: 13px;
  --FonstSize: 16px;
  --mdFontSize: 20px;
  --lgFontSize: 24px;

  --smallImg: 80px;
  --bigImg: 220px;
  --playbar-start: 0s;
  --playbar-time: 1s;
}

.custom-fontSize-xs {
  font-size: var(--xsFontSize);
}
.custom-fontSize-normal {
  font-size: var(--FonstSize);
}
.custom-fontSize-md {
  font-size: var(--mdFontSize);
}
.custom-fontSize-lg {
  font-size: var(--lgFontSize);
}
/* --------------------------------------- */
.custom-marginTop-xs {
  margin-top: var(--xsPadd);
}
.custom-marginTop-md {
  margin-top: var(--mdPadd);
}
.custom-marginTop-lg {
  margin-top: var(--lgPadd);
}
/* --------------------------------------- */

.custom-marginBottom-xs {
  margin-bottom: var(--xsPadd);
}
.custom-marginBottom-md {
  margin-bottom: var(--mdPadd);
}
.custom-marginBottom-lg {
  margin-bottom: var(--lgPadd);
}
/* --------------------------------------- */

.custom-marginLeft-xs {
  margin-left: var(--xsPadd);
}
.custom-marginLeft-md {
  margin-left: var(--mdPadd);
}
.custom-marginLeft-lg {
  margin-left: var(--lgPadd);
}
/* --------------------------------------- */

.custom-marginRight-xs {
  margin-right: var(--xsPadd);
}
.custom-marginRight-md {
  margin-right: var(--mdPadd);
}
.custom-marginRight-lg {
  margin-right: var(--lgPadd);
}
/* --------------------------------------- */

.custom-paddingTop-xs {
  padding-top: var(--xsPadd);
}
.custom-paddingTop-md {
  padding-top: var(--mdPadd);
}
.custom-paddingTop-lg {
  padding-top: var(--lgPadd);
}
/* --------------------------------------- */

.custom-paddingBottom-xs {
  padding-bottom: var(--xsPadd);
}
.custom-paddingBottom-md {
  padding-bottom: var(--mdPadd);
}
.custom-paddingBottom-lg {
  padding-bottom: var(--lgPadd);
}
/* --------------------------------------- */

.custom-paddingLeft-xs {
  padding-left: var(--xsPadd);
}
.custom-paddingLeft-md {
  padding-left: var(--mdPadd);
}
.custom-paddingLeft-lg {
  padding-left: var(--lgPadd);
}
/* --------------------------------------- */

.custom-paddingRight-xs {
  padding-right: var(--xsPadd);
}
.custom-paddingRight-md {
  padding-right: var(--mdPadd);
}
.custom-paddingRight-lg {
  padding-right: var(--lgPadd);
}
/* --------------------------------------- */
#blackScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

header,
main,
aside {
  padding-bottom: 74px;
  max-height: 100vh;
  background-color: #0a0a0a;
  color: white;
}

main .spinner-border {
  display: none;
}

header nav div:hover {
  width: 90%;
  background-color: var(--lightgrayColor);
  border-radius: 20px;
}

header section:first-of-type div:hover {
  width: 90%;
  background-color: var(--lightgrayColor);
  border-radius: 20px;
}
/* p {
  margin: 0;
} */

#playlist,
main {
  overflow-y: scroll;
}

header {
  width: var(--fullWidthHeader);
  padding-left: var(--xsPadd);
  padding-top: var(--xsPadd);
}

nav,
nav + section {
  padding-right: 15px;
}

#playlist::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 10px;
}

#playlist::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  background-color: trasparent;
}

#playlist::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background: #515151;
}

header > div {
  height: 100%;
}

#playlist ul {
  list-style: none;
  padding: 0;
}

main {
  width: calc(100% - var(--fullWidthHeader) - var(--fullWidthFriends));
}

#background-big-card {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position-y: -90px;
  background-size: cover;
}

#play {
  color: black;
  padding: 0 0 0 8px;
}

#following {
  height: 25px;
  font-size: 10px;
  border-radius: 5px;
  letter-spacing: normal;
  --bs-btn-padding-y: 0;
  --bs-btn-padding-x: 0.5rem;
}

h4 {
  font-size: 18px;
}

#popularSongs span,
#popularSongs-xs span,
h5,
h6,
#lovedSongs p,
#lovedSongs-xs p,
.xsIcon {
  font-size: 12px;
}

#artistSongs > div:first-child,
#artistSongs-xs > div:first-child {
  display: none;
}

#popularSongs li,
#popularSongs-xs li {
  justify-content: space-between;
}

#popularSongs img,
#popularSongs-xs img {
  width: 40px;
  height: 40px;
  margin-inline: 10px;
  cursor: pointer;
}

#popularSongs + p,
#popularSongs-xs + p {
  font-size: 10px;
  cursor: pointer;
  letter-spacing: normal;
}

#title {
  cursor: pointer;
}

#lovedSongs,
#lovedSongs-xs {
  padding-inline: 50px;
}

#lovedSongs .rounded-circle,
#lovedSongs-xs img {
  background-size: cover;
  width: 60px;
  height: 60px;
}

#lovedSongs span:first-of-type,
#lovedSongs-xs span:first-of-type {
  position: absolute;
  bottom: 3px;
  right: 6px;
  width: 15px;
  height: 15px;
}

#lovedSongs i:first-of-type,
#lovedSongs-xs i:first-of-type {
  font-size: 8px;
  position: absolute;
  top: 8%;
  left: 17%;
}

#hi-custom {
  display: none;
}

aside {
  min-width: var(--fullWidthFriend);
}

.custom-btn {
  all: unset;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 30px;
}

h1 {
  font-size: var(--lgPadd);
  font-weight: bold;
}

/* mobile */
#listener-xs,
.icon-xs,
#menu-xs {
  display: none;
}

#listener {
  font-size: var(--FontSize);
  margin-bottom: 0;
}

div > :has(#listener) {
  display: flex;
  flex-direction: column;
}

#custom-big-card {
  margin-bottom: 1rem;
}

#custom-big-card > div {
  justify-content: space-between;
}

#custom-big-card .custom-btn:first-of-type {
  background-color: var(--primaryColor);
}

#custom-big-card .custom-btn:last-of-type {
  padding: 0;
  border-radius: unset;
  margin-left: 5px;
  font-size: 25px;
}

#play {
  width: 40px;
  height: 40px;
}

.small-img {
  width: var(--smallImg);
  height: var(--smallImg);
}

.big-img {
  width: var(--bigImg);
  height: var(--bigImg);
}

.custom-margin {
  margin-top: 20px;
}

/* friend section */

aside {
  min-width: var(--fullWidthFriends);
  padding-inline: var(--xsPadd);
}

h5 + div {
  font-size: 15px;
}

.friendImg {
  overflow: hidden;
}

.friendStatus img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  text-align: center;
}

.friendStatus h6 {
  font-size: 10px;
}

.friendStatus span {
  font-size: 8px;
}

#circle {
  width: 8px;
  height: 8px;
}

/* @media screen and (min-width: px) {
  
} */

/* .small-img {
  width: calc(var(--smallImg) - 20px);
  height: calc(var(--smallImg) - 20px);
} */

@media screen and (max-width: 1235px) {
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
  #songId {
    display: none;
  }
}

@media screen and (max-width: 1215px) {
  nav {
    font-size: 12px;
  }
  header section {
    font-size: 12px;
  }
  #popularSongs li > div:first-child {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1060px) {
  main {
    width: 100%;
  }

  #popularSongs li {
    justify-content: space-around;
  }

  #lovedSongs,
  #lovedSongs-xs {
    padding-inline: 10px;
  }

  #circle {
    width: 6px;
    height: 6px;
    margin-bottom: 2.2px;
  }
}

@media screen and (max-width: 825px) {
  header {
    display: none;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
  }

  .big-img {
    width: calc(var(--bigImg) - 20px);
    height: calc(var(--bigImg) - 20px);
  }

  #btn-hide-ad {
    font-size: var(--xsFontSize);
  }
}

@media screen and (max-width: 664px) {
  .bi-arrow-right-circle,
  .btn-group {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  main::-webkit-scrollbar,
  .bi-arrow-right-circle,
  .btn-group,
  .bi-patch-check-fill,
  #custom-big-card p,
  div > :has(#listener) {
    display: none;
  }

  #background-big-card {
    min-height: 400px;
    background-position-y: -40px;
  }

  #custom-big-card {
    margin-bottom: 0;
    height: 200px;
  }
  #custom-big-card > div {
    justify-content: flex-end;
  }

  #play {
    color: white;
  }

  #listener-xs,
  .icon-xs {
    display: block;
  }

  .icon-xs {
    font-size: 20px;
  }

  #listener-xs + div {
    flex-direction: row-reverse;
  }

  #listener-xs + div > i:last-of-type {
    display: none;
  }
  #artistSongs {
    flex-direction: column-reverse;
  }

  #artistSongs > div:first-child,
  #songId {
    display: block;
  }

  #songId-xs {
    text-align: start;
  }

  #artistSongs > div:nth-child(2) {
    display: none;
  }
  #artistSongs-xs {
    flex-direction: column-reverse;
  }

  #artistSongs-xs > div:first-child,
  #songId {
    display: block;
  }

  #artistSongs-xs > div:nth-child(2) {
    display: none;
  }

  #popularSongs > li > div:first-child #popularSongs-xs > li > div:first-child {
    justify-content: flex-start;
  }

  #popularSongs span #popularSongs-xs span {
    font-size: 10px;
  }

  li > div > span {
    margin-right: 10px;
  }

  li img {
    margin-inline: 10px;
  }

  #lovedSongs,
  #lovedSongs-xs {
    padding-inline: 1.5rem;
    margin-bottom: 30px;
  }

  #lovedSongs h4,
  #lovedSongs-xs h4 {
    display: none;
  }

  #lovedSongs h6,
  #lovedSongs-xs h6 {
    margin: 0;
  }

  #lovedSongs img,
  #lovedSongs-xs img {
    width: 45px;
    height: 45px;
  }

  h3.h3-hide {
    display: none;
  }

  .custom-margin {
    margin-top: 10px;
  }

  #hi-custom {
    display: flex !important;
  }

  .small-img {
    width: calc(var(--smallImg) - 20px);
    height: calc(var(--smallImg) - 20px);
  }

  #menu-xs {
    background: linear-gradient(to top, black, transparent);
    display: flex;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    z-index: 1;
  }

  #menu-xs div {
    margin-inline: 5px;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #menu-xs p {
    font-size: 10px;
  }
}

.discover-more {
  flex-wrap: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  #background-big-card {
    min-height: 400px;
    background-position-y: 0px;
  }

  .custom-fontSize-normal {
    font-size: calc(var(--xsFontSize) - 2px);
  }
}
