/* --------------------------------------- */
#friends {
  min-width: var(--fullWidthFriends);
}

.custom-btn {
  all: unset;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 30px;
}

#custom-big-card .custom-btn:first-of-type {
  background-color: var(--primaryColor);
}

#custom-big-card .custom-btn:last-of-type {
  padding: 0;
  border-radius: unset;
  margin-left: 5px;
  font-size: 25px;
}

.xs-img {
  width: var(--xsImg);
  height: var(--xsImg);
}

.small-img {
  width: var(--smallImg);
  height: var(--smallImg);
}

.big-img {
  width: var(--bigImg);
  height: var(--bigImg);
}

.custom-margin {
  margin-top: 20px;
}

.card-col {
  max-height: var(--smallImg);
  overflow: hidden;
}

#discover-more {
  flex-wrap: nowrap;
  overflow: hidden;
  padding-bottom: var(--smPadd);
}

#discover-more-hide > div {
  border: 1px solid #413e3e;
  border-radius: 15px;
  background-image: linear-gradient(
    134deg,
    #f48100 5%,
    var(--darkgrayColor) 30%
  );
}

i.bi.bi-play-fill.icon-play {
  position: relative;
}

p.bg-darkgray-color {
  border-radius: 20px;
}

#custom-big-card a,
#cards-artists a,
#wrapper-discover-more a {
  color: white;
  text-decoration: none;
}

#custom-big-card a {
  font-weight: 500;
}

#tre-icone {
  display: none;
}

@media screen and (max-width: 576px) {
  .custom-paddingBottom-header {
    padding-bottom: 150px;
  }
}
