/* --------------------------------------- */
main {
  width: 100%;
}
#search::placeholder {
  color: rgb(108, 117, 125);
  opacity: 1;
}

#upbar.custom-border-search {
  max-width: 350px;
  min-width: 250px;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 20px;
}

#search:focus,
#search-hide:focus {
  box-shadow: none;
}

#upbar form div:hover {
  background-color: var(--lightgrayColor);
  border-radius: 20px;
}

/* Per non visualizzare X blue */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}
/* 
#btn-search {
  opacity: 0;
} */

.custom-grid-card {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.img-grid-card {
  height: 55%;
  width: 55%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(25deg) translate(18%, -2%);
  border-radius: 10px;
  overflow: hidden;
}

.custom-height {
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: var(--xsPadd);
}

.custom-fontSize-textCard {
  font-size: var(--xxlFontSize);
  padding: 20px 15px 0 17px;
}

#cards-48 {
  display: flex;
}

#fromJS a {
  color: white;
  text-decoration: none;
}

#fromJS-max-width1235px {
  display: none;
  flex-direction: column;
}

#fromJS .div-img-artist-grande {
  height: 280px;
  width: 300px;
  aspect-ratio: 1 / 1;
}

#fromJS .div-img-artist-piccola {
  height: 70px;
  width: 70px;
  aspect-ratio: 1 / 1;
}

#fromJS .img-artist {
  width: 100%;
  height: 100%;
}

#fromJS .kinda-btn {
  padding: 7px 15px;
  background-color: var(--darkColor);
  border-radius: 20px;
}

#fromJS .width-fit-content {
  width: fit-content;
}

@media screen and (min-width: 100px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 17px);
  }
}

@media screen and (min-width: 400px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 13px);
  }
}

@media screen and (min-width: 500px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 10px);
  }
}

@media screen and (max-width: 576px) {
  #upbar-hide {
    display: block;
  }

  #upbar-hide .custom-border-search {
    width: 100%;
    background-color: white;
    border-radius: 5px;
  }

  .custom-height {
    aspect-ratio: 1.8 / 1;
    padding: calc(var(--xsPadd) - 3px);
  }

  .custom-grid-card h3 {
    padding-left: calc(var(--xsPadd) - 3px);
    padding-top: calc(var(--xsPadd) - 2px);
  }

  .img-grid-card {
    all: unset;
    height: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(25deg) translate(18%, -2%);
    border-radius: 10px;
    overflow: hidden;
  }
}

@media screen and (min-width: 577px) {
  #upbar-hide {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 10px);
  }
}

@media screen and (min-width: 576px) and (max-width: 930px) {
  .custom-height {
    aspect-ratio: 2 / 1;
  }

  .img-grid-card {
    all: unset;
    height: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(25deg) translate(18%, -2%);
    border-radius: 10px;
    overflow: hidden;
  }
}

@media screen and (min-width: 931px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 8px);
  }
}

@media screen and (max-width: 1200px) {
  #fromJS .width-fit-content {
    width: auto;
    padding-right: 48px;
  }

  #fromJS .col:nth-of-type(2) h4 + div,
  #fromJS .col:nth-of-type(2) h4 {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1300px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 5px);
  }
}

@media screen and (min-width: 1400px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 8px);
  }
}

@media screen and (min-width: 1500px) {
  .custom-fontSize-textCard {
    font-size: calc(var(--xxlFontSize) - 5px);
  }
}

@media screen and (min-width: 1600px) {
  .custom-fontSize-textCard {
    font-size: var(--xxlFontSize);
  }
}
