:root {
  --fullWidthHeader: 15%;
  --fullWidthFriends: 15%;

  --xstPadd: 10px;
  --smallPadd: 20px;
  --mediumPadd: 30px;

  --primaryColor: #1ed760;

  --xsFontSize: 13px;
  --mdFontSize: 24px;

  --smallImg: 80px;
  --bigImg: 250px;
}

header,
main,
#friends {
  max-height: 100vh;
  background-color: #0a0a0a;
  color: white;
}

#playlist,
main {
  overflow-y: scroll;
}

header {
  width: var(--fullWidthHeader);
  padding-left: var(--smallPadd);
}

main {
  width: calc(100% - var(--fullWidthHeader) - var(--fullWidthFriends));
  padding-top: var(--xstPadd);
  padding-inline: var(--mediumPadd);
}

#friends {
  width: var(--fullWidthFriends);
}

.custom-btn {
  all: unset;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 30px;
}

.custom-big-card .custom-btn:first-of-type {
  background-color: var(--primaryColor);
}

.custom-big-card .custom-btn:last-of-type {
  padding: 0;
  border-radius: unset;
  margin-left: 5px;
  font-size: 25px;
}

.custom-fontSize-xs {
  font-size: var(--xsFontSize);
}
.custom-fontSize-md {
  font-size: var(--mdFontSize);
}

.small-img {
  width: var(--smallImg);
  height: var(--smallImg);
}

.big-img {
  width: var(--bigImg);
  height: var(--bigImg);
}

@media screen and (max-width: 960px) {
  .big-img {
    width: calc(var(--bigImg) - 50px);
    height: calc(var(--bigImg) - 50px);
  }

  .p-hide {
    display: none;
  }
}
